In [2]:
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Python3/moscow%20schools%20-%20winners.csv"
df = pd.read_csv(url)

In [8]:
df.head()

,FullName,ShortName,OlympiadType,Stage,Class,Subject,Status,Year,global_id
0,Государственное бюджетное общеобразовательное ...,ГБОУ лицей «Вторая школа»,Всероссийская олимпиада,3,11,Иностранный язык (английский язык),призёр,2012/2013,4472939
1,Государственное бюджетное общеобразовательное ...,ГБОУ лицей «Вторая школа»,Всероссийская олимпиада,3,11,Иностранный язык (английский язык),призёр,2012/2013,4472940
2,Государственное бюджетное общеобразовательное ...,ГБОУ лицей «Вторая школа»,Всероссийская олимпиада,3,10,Иностранный язык (английский язык),призёр,2012/2013,4472941
3,Государственное бюджетное образовательное учре...,ГБОУ СОШ № 26,Всероссийская олимпиада,4,11,Иностранный язык (английский язык),победитель,2012/2013,4472942
4,Государственное бюджетное образовательное учре...,ГБОУ СОШ № 26,Всероссийская олимпиада,3,11,Иностранный язык (английский язык),призёр,2012/2013,4472943

In [ ]:
df.Subject.unique()

In [ ]:
df[(df.Stage == '4') & (df.Subject == 'Математика') & (df.Status == 'победитель')].index.size

In [ ]:
df[(df.Stage == '3') & (df.Subject == 'Информатика') & (df.Status == 'призёр') & (df.Class == '9')].index.size

In [ ]:
df[df.Status == 'победитель'].groupby('ShortName').agg({'ShortName':'count'}).idxmax()

In [29]:
df[df.Status == 'победитель'].groupby('ShortName').agg({'ShortName':'count'}).idxmax()

ShortName    ГБОУ лицей «Вторая школа»
dtype: object