In [1]:
import pandas as pd

In [27]:
url = "https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Pandas/bakery.csv"
df = pd.read_csv(url)

In [3]:
df.head()

   TransactionNo          Items             DateTime
0              1          Bread  2016-10-30 09:58:11
1              2   Scandinavian  2016-10-30 10:05:34
2              2   Scandinavian  2016-10-30 10:05:34
3              3  Hot chocolate  2016-10-30 10:07:57
4              3            Jam  2016-10-30 10:07:57

In [4]:
df.Items.unique().size

94

In [5]:
df[df.Items == 'Tea'].index.size

1435

In [8]:
df[(df.DateTime >= '2017-05-01') & (df.DateTime < '2017-05-02')].TransactionNo.unique().size

50

50

In [9]:
df['IsMonday'] = pd.to_datetime(df['DateTime']).dt.day_name() == 'Monday'

In [10]:
df.head()

   TransactionNo          Items             DateTime  IsMonday
0              1          Bread  2016-10-30 09:58:11     False
1              2   Scandinavian  2016-10-30 10:05:34     False
2              2   Scandinavian  2016-10-30 10:05:34     False
3              3  Hot chocolate  2016-10-30 10:07:57     False
4              3            Jam  2016-10-30 10:07:57     False

In [11]:
df[df.IsMonday].TransactionNo.unique().size

1441

In [ ]:
df['DateTime'] = pd.to_datetime(df['DateTime'])

In [ ]:
df['IsWeekend'] = (df['DateTime'].dt.day_name() == 'Saturday') | (df['DateTime'].dt.day_name() == 'Sunday')

In [ ]:
df[df.IsWeekend].TransactionNo.unique().size

In [ ]:
df.set_index('DateTime').resample('M')['TransactionNo'].sum().to_frame().idxmax()

In [30]:
df['DateTime'] = pd.to_datetime(df['DateTime'])

In [17]:
df['IsWeekend'] = (df['DateTime'].dt.day_name() == 'Saturday') | (df['DateTime'].dt.day_name() == 'Sunday')

In [21]:
df[df.IsWeekend].TransactionNo.unique().size

2962

In [38]:
df.set_index('DateTime').resample('M')['TransactionNo'].sum().to_frame().idxmax()

TransactionNo   2017-03-31
dtype: datetime64[ns]